{% extends 'munch/base.html' %}
{% load static %}

{% block content %}


    
        
    
    <div class="order-btn">
        <h1>The Fastest</h1>
        <h1>Food Delivery</h1>
        <h1>in</h1><h1 class="title-color">Your City</h1>
        <h3>Start Your Order</h3>
        <a href="/register" class="btn btn-order">Sign Up</a>
    </div>

    <div class="main-page-img" >
        <img class="delivery-img" src="https://cdn.dribbble.com/users/3208699/screenshots/14573624/media/1d6b2a34b47f5f08583b6f3684f17c74.jpg?compress=1&resize=1600x1200&vertical=top" alt="delivery" width="70%" height="70%">
    </div>





{% endblock %}